<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.Composition" version="15.3.38" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Validation" version="15.0.82" targetFramework="net46" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net46" />
  <package id="System.Composition" version="1.0.31" targetFramework="net46" />
  <package id="System.Composition.AttributedModel" version="1.0.31" targetFramework="net46" />
  <package id="System.Composition.Convention" version="1.0.31" targetFramework="net46" />
  <package id="System.Composition.Hosting" version="1.0.31" targetFramework="net46" />
  <package id="System.Composition.Runtime" version="1.0.31" targetFramework="net46" />
  <package id="System.Composition.TypedParts" version="1.0.31" targetFramework="net46" />
  <package id="System.Threading.Tasks.Dataflow" version="4.5.24" targetFramework="net46" />
</packages>